[Unit]
Description=A SMTP server that receives emails and forwards them as notifications
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=daemon
Restart=always
RestartSec=30
EnvironmentFile=/etc/default/gosmtp
ExecStart=/usr/bin/gosmtp $ARGS

[Install]
WantedBy=multi-user.target
